{% load static %}
<section>

    <div class="bg-black bg-opacity-25 p-5">
        <div class="row mb-5">

          <div class="row p-4">
              <div class="col-md-6 p-1 text-center">
                <a class="btn btn-outline-info fw-bold" href="#">Development</a>
              </div>
              <div class="col-md-6 p-1 text-center">
                <a class="btn btn-outline-info fw-bold mb-2" href="https://www.growth-delta.com" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-earth-americas"></i> <b class="text-white">Macro Intelligence</b> <i class="fa-solid fa-binoculars"></i></a>
                <a class="btn btn-outline-info fw-bold mb-2" href="https://www.growth-delta.com" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-file"></i> <b class="text-white">Document Query</b> <i class="fa-solid fa-binoculars"></i></a>
              </div>
          </div>

          <div class="col-md-3 p-2">
              <a class="card-link" href="#">
                  <h1>Web & Software</h1>
                  <p>
                    I have experience across the full development stack, I have designed, developed and deployed applications and websites.
                  </p>
                  <p>
                      <h3>Technology Stack</h3>
                      <ul class="p-2">
                        <li>DataBase: SQL | PostgreSQL</li>
                        <li>Backend: Python | Django</li>
                        <li>Backend API: Python | DRF</li>
                        <li>Frontend: JS | React</li>
                        <li>Frontend: HTML & CSS</li>
                      </ul>
                  </p>
              </a>
          </div>

          <div class="col-md-3 bg-info bg-opacity-50 p-3">
              
              <a class="card-link" href="#">
                  <p class="fs-3"><i class="fa-brands fa-python text-info"></i> Python</p>
                  <p class="p-1">
                    Python is my "go to" language for most tasks. Particularly server-side logic and data science or automation tasks.
                  </p>
              </a>
              <a class="card-link" href="#">
                  <p class="fs-3"><i class="fa-brands fa-js text-warning"></i> JavaScript</p>
                  <p class="p-1">
                    JS is a recent addition to my technology stack, through integrating a modern JS build-pipeline into my Django projects.
                  </p>
              </a>
          </div>

          <div class="col-md-6 p-2">
              <a class="card-link" href="#">
                <h1>DATA SCIENCE</h1>
                <p class="p-1">
                  I have been digging into datasets for numerous years, particularly time series data where i can apply some simple statistics and probability 
                  to gain genuinely useful and actionable insights. Most of my time has been spent applying quantitative techniques to financial market (ohlc, financial 
                  statement, derivatives) and macroeconomic data. I have practically used many statistical techniques to power my decision making processes, from simple statistics 
                  to Artificial Intelligence ML models.
                </p>
              </a>
              <!-- <div class="text-center"><img class="img-fluid" src="{% static 'images/face.png' %}" style="height: auto; width: auto;"></div> -->
          </div>
            
        </div>
        <div class="row"><div class="text-center"><img class="img-fluid" src="{% static 'images/face.png' %}" style="height: auto; width: auto;"></div></div>

        <div class="card bg-dark bg-opacity-25 p-4">
            <div class="container">
              <!--second section-->
              <div class="row align-items-center justify-content-end how-it-works d-flex">
                <div class="text-center p-4">
                  <p class="fs-3">Current Report</p>
                  <hr>
                  <p>
                    Currently trying to break into the software industry, as a junior Developer or Engineer. Also developing two SAAS 
                    products; www.Growth-Delta.com | a platform for analyzing global business conditions, www.ParrotDOC.com | a document 
                    query chatbot. Im also learning JS & React and spending alot of time learning the technologies and frameworks 
                    emerging out of the AI advances and developments over the past 12-18 months. Im learning and researching; 
                    TensorFlow, PyTorch, LangChain, OpenAI, HuggingFaces, Wolfram Alpha.
                  </p>
                  <hr>
                </div>
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                  <div class="circle fw-bold">∞</div>
                </div>
              </div>
              <!--path between 0-1-->
              <div class="row timeline">
                <div class="col-2">
                  <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner top-left"></div>
                </div>
              </div>
              <!--first section-->
              <div class="row align-items-center how-it-works d-flex">
                <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                  <div class="circle fw-bold">3</div>
                </div>
                <div class="col-6">
                  <p class="fs-3">Engineering: Computer Programming</p>
                  <hr>
                  <p>Computer Programming, is a relatively new field to me, I started programming in python in April 2022 after dropping out of the second year of a Fin & Acc Degree. I have spent multiple hours, literally everyday equating to 1,000s of hours of coding and learning tech.</p>
                </div>
              </div>
              <!--path between 1-2-->
              <div class="row timeline">
                <div class="col-2">
                  <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner left-bottom"></div>
                </div>
              </div>
              <!--second section-->
              <div class="row align-items-center justify-content-end how-it-works d-flex">
                <div class="col-6 text-right">
                  <p class="fs-3">Finance & Economics</p>
                  <hr>
                  <p>Analyzed 100s of publicly listed companies, mainly in the USA, market cap >2,000. I enjoy analyzing the technology sector, in specific the software industry. Following, participating in & analyzing global markets since 2017 I have gained a breadth of knowledge & many skills.</p>
                </div>
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                  <div class="circle fw-bold">2</div>
                </div>
              </div>
              <!--path between 2-3-->
              <div class="row timeline">
                <div class="col-2">
                  <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner top-left"></div>
                </div>
              </div>
              <!--third section-->
              <div class="row align-items-center how-it-works d-flex">
                <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                  <div class="circle fw-bold">1</div>
                </div>
                <div class="col-6">
                  <p class="fs-3">Engineering: CAD & CAM</p>
                  <hr>
                  <p>Qualified Engineer since 2017, specializing in computer aided manufacturing. Served an apprenticeship and worked in the transportation equipment industry, digitizing component technical drawings and producing cnc milling programmes for aerospace component suppliers.</p>
                </div>
              </div>
              <!--path between 3-4-->
              <div class="row timeline">
                <div class="col-2">
                  <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner left-bottom"></div>
                </div>
              </div>
              <!--path between 0-1-->
              <div class="row timeline">
                <div class="col-2">
                  <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner top-left"></div>
                </div>
              </div>
              <!--path between 3-4-->
              <div class="row timeline">
                <div class="col-2">
                  <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner left-bottom"></div>
                </div>
              </div>
              <!--path between 0-1-->
              <div class="row timeline">
                <div class="col-2">
                  <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner top-left"></div>
                </div>
              </div>
            </div>
            <a href="#"><img class="img-fluid" src="{% static 'images/protein.png' %}" style="height: auto; width: auto;"></a>
        </div>
    </div>



</section>
